.first-screen {
  padding: 120px 0 143px 0;
  position: relative;

  &::after {
    content: "";
    background-image: url("./../img/first-screen/first-screen-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 49%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__descr {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 48%;
  }
  &__suptitle {
    font-weight: 700;
    line-height: 150%;
    color: #3035c4;
    margin-bottom: 28px;
  }
  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 56px;
    line-height: 130%;
    color: #23283b;

    &--red {
      color: #e6514a;
    }
  }

  &__btn {
    padding: 16px 60px;
    width: 375px;
    margin-top: 52px;
  }
}

.second-screen__descr {
  display: none;
  width: 100%;
  box-shadow: 0px 10px 24px rgba(73, 95, 211, 0.12);
  height: 386px;
  img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: none;
  }
}

@media (max-width: 1024px) {
  .first-screen {
    padding: 70px 0 70px 0;
  }
}

@media (max-width: 768px) {
  .first-screen {
    padding: 20px 0 20px 0;
  }
  .first-screen__title {
    line-height: 100%;
  }
  .first-screen__suptitle {
    margin-bottom: 15px;
  }
  .first-screen__btn {
    margin-top: 0;
  }
}

@media (max-width: 576px) {
  .first-screen::after {
    display: none;
  }
  .first-screen__descr {
    width: 100%;
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
  }
  .first-screen__btn {
    margin-top: 56px;
  }
  .second-screen__descr {
    display: block;
    height: auto;
    img {
      height: 256px;
    }
  }
}

@media (max-width: 375px) {
  .first-screen__suptitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
  }
  .first-screen__title {
    font-weight: 800;
    font-size: 36px;
    line-height: 130%;
  }
  .first-screen__btn {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .first-screen__descr {
    margin-bottom: 20px;
  }
  .first-screen__btn {
    font-size: 10px;
    margin-top: 35px;
  }
}
