.license {
  padding: 106px 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 205px;
    width: 30%;
    height: 100%;
    background: url("./../img/license/license-image.png") left/contain no-repeat;
  }

  &__inner {
    background-color: #3035c3;
    box-shadow: 0px 10px 40px rgba(73, 95, 211, 0.22);
    border-radius: 20px;
    padding: 100px 70px 100px 550px;

    color: #ffffff;
  }

  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 32px;
    line-height: 130%;
    margin-bottom: 25px;
  }

  &__descr {
    line-height: 150%;
    margin-bottom: 32px;
  }

  &__btn {
    padding: 16px 60px;
  }
}
