.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  background: #23283b70;

  .popup {
    display: flex;
    background: #ffffff;
    box-shadow: 0px 10px 40px rgba(73, 95, 211, 0.22);
    border-radius: 20px;
    position: relative;

    &__close {
      width: 16px;
      height: 16px;

      position: absolute;
      top: 24px;
      right: 24px;

      cursor: pointer;
    }

    &__descr {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 52px 70px 52px 52px;

      .form__input-box {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 16px;
        &:last-child {
          margin-bottom: 32px;
        }
      }

      .form__input-label {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #23283b;
        cursor: pointer;
        margin-bottom: 8px;
      }

      .form__input {
        background: #ffffff;
        border: 1px solid #23283b10;
        border-radius: 40px;
        padding: 16px 20px 19px 20px;

        font-size: 14px;
        line-height: 17px;
        color: #23283b;

        &::placeholder {
          font-size: 14px;
          line-height: 17px;
          color: #23283b30;
        }
      }
    }

    &__title {
      font-family: "Montserrat", sans-serif;
      font-weight: 800;
      font-size: 32px;
      line-height: 130%;
      color: #3035c4;
      margin-bottom: 12px;
    }

    &__text {
      font-size: 12px;
      line-height: 150%;
      color: #23283b;
      margin-bottom: 36px;
    }
  }
  .form__btn {
    padding: 16px 88px;
  }
}
