.programs {
  padding: 100px 0 80px 0;

  &__subtitle {
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 52px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  &__block {
    display: flex;
    column-gap: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 24%;

    &-top {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      text-align: center;
      padding: 28px 16px;
      border: 1px solid #dedeff;
      border-radius: 4px;
      margin-bottom: 32px;
    }

    &-count {
      font-family: "Montserrat", sans-serif;
      font-weight: 900;
      font-size: 40px;
      line-height: 31px;
      text-align: center;
      color: #3035c4;
      margin-bottom: 16px;
      height: 70px;

      span {
        font-size: 18px;
        line-height: 22px;
      }

      &--last-child {
        font-weight: 900 !important;
        font-size: 22px !important;
        line-height: 27px !important;
      }
    }

    &-descr {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      line-height: 20px;
      color: #23283b;
    }

    &-bottom {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      row-gap: 20px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    row-gap: 12px;
    height: 162px;

    margin-bottom: 32px;
    padding-bottom: 17px;

    &-item {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #23283b;
      padding-left: 32px;
      position: relative;
      text-align: start;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 4px;
        left: 0;
        width: 16px;
        height: 16px;
        background-image: url("./../img/programs/programs-list-check.svg");
      }
    }
  }

  &__btn {
    padding-top: 16px;
    padding-bottom: 16px;
    width: 230px;
  }

  &__link {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    color: #3035c4;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    svg {
      margin-right: 12px;
    }

    &:hover {
      color: #be312b;

      svg {
        path {
          fill: #be312b;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .programs__block {
    column-gap: 12px;
  }
  .programs__item {
    flex-wrap: nowrap;
  }
  .programs__item-list {
    padding-bottom: 17px;
    margin-bottom: 0;
  }
  .programs__item-top {
    flex-wrap: nowrap;
    min-height: 37%;
  }
  .programs__list {
    height: 222px;
  }
}

@media (max-width: 768px) {
  .programs {
    padding: 30px 0 10px 0;
  }
  .programs__inner {
    text-align: center;
  }
  .programs__title {
    margin-bottom: 20px;
  }
  .programs__block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .programs__item {
    width: 45%;
    height: 500px;
  }
  .programs__list {
    height: 160px;
  }
  .programs__list-item {
    line-height: 14px;
  }
}

@media (max-width: 425px) {
  .programs__title {
    font-size: 36px;
  }
  .programs__item {
    width: 100%;
    height: auto;
  }
  .programs__item-count {
    height: auto;
  }
  .programs__item-top {
    height: auto;
    width: 100%;
    padding: 10px 10px;
  }
  .programs__list {
    height: auto;
  }
  .programs__btn {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }
}
