.subscribe {
  padding-top: 60px;
  padding-bottom: 100px;

  &__inner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 196px;

    padding: 100px 70px;

    background-image: url("./../img/subscribe/subscribe-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__descr-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 130%;
    color: #ffffff;
  }

  &__button {
    padding: 16px 60px;
    // margin-left: 256px;
  }
}
